In [1]:
import pandas as pd

data = pd.read_csv("C:/Users/shahe/Desktop/train_set.csv")

data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106

In [2]:
data = data.fillna('786')

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

data['OG'] = le.fit_transform(data['OG'])
data['DC'] = le.fit_transform(data['DC'])
data['Union'] = le.fit_transform(data['Union'])
data['JF'] = le.fit_transform(data['JF'])
data['Job'] = le.fit_transform(data['Job'])
data['YT'] = le.fit_transform(data['YT'])

data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,0,19,Public Health,250,58,29,671,6725,12196,0,0.00,0,16158
1,2013,4,0,19,Public Health,39,64,24,1011,25058,74639,2820,12703.31,1,115784
2,2015,6,2,5,Assessor/Recorder,21,53,7,911,46108,100554,0,12424.50,0,144708
3,2016,1,5,39,Police,911,48,36,925,33369,140164,52754,13043.87,1,242323
4,2013,2,6,28,PUC Hetch Hetchy,21,53,23,496,28684,58813,0,7655.28,0,82106

In [4]:
data['Dept'] = le.fit_transform(data['Dept'])

data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,0,19,45,250,58,29,671,6725,12196,0,0.00,0,16158
1,2013,4,0,19,45,39,64,24,1011,25058,74639,2820,12703.31,1,115784
2,2015,6,2,5,5,21,53,7,911,46108,100554,0,12424.50,0,144708
3,2016,1,5,39,42,911,48,36,925,33369,140164,52754,13043.87,1,242323
4,2013,2,6,28,38,21,53,23,496,28684,58813,0,7655.28,0,82106

In [5]:
X = data.drop(['Total_Compensation','Dept','Union','EI','YT'], axis = 1)
y = data['Total_Compensation']

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.1, random_state = 0)

In [7]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_val)

from sklearn.metrics import mean_squared_error
import numpy as np
print('Root Mean Squared Error is: ', np.sqrt(mean_squared_error(y_val, pred)))

Root Mean Squared Error is:  7298.032688744468

In [8]:
test = pd.read_csv('C:/Users/shahe/Desktop/test_set.csv')

In [9]:
test = test.fillna('786')
test['OG'] = le.fit_transform(test['OG'])
test['DC'] = le.fit_transform(test['DC'])
test['Union'] = le.fit_transform(test['Union'])
test['JF'] = le.fit_transform(test['JF'])
test['Job'] = le.fit_transform(test['Job'])
test['YT'] = le.fit_transform(test['YT'])

test = test.drop(['Dept','Union','EI','YT'], axis = 1)

target = lr.predict(test.values)

In [10]:
res = pd.DataFrame(target) 
res.columns = ["Compensation"]
res.to_csv("EmployeeValues.csv")