In [1]:
import pandas as pd

data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/startupdata/training_set_label.csv" )

data.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,founded_at,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,01-01-07,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,01-01-00,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,3/18/2009,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,01-01-02,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,08-01-10,...,c:65806,1,1,0,0,0,0,1.0000,1,closed

In [2]:
data.fillna(786)

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,founded_at,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,786,Bandsintown,01-01-07,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,786,TriCipher,01-01-00,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,3/18/2009,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,01-01-02,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,08-01-10,...,c:65806,1,1,0,0,0,0,1.0000,1,closed
5,379,CA,37.406914,-122.090370,94043,c:22898,Mountain View,Mountain View CA 94043,Matisse Networks,01-01-02,...,c:22898,0,0,0,1,0,0,3.0000,1,closed
6,195,CA,37.391559,-122.070264,94041,c:16191,Mountain View,786,RingCube Technologies,01-01-05,...,c:16191,1,0,1,1,0,0,1.6667,1,acquired
7,875,CA,38.057107,-122.513742,94901,c:5192,San Rafael,786,ClairMail,01-01-04,...,c:5192,0,0,1,1,0,1,3.5000,1,acquired
8,16,MA,42.712207,-73.203599,1267,c:1043,Williamstown,Williamstown MA 1267,VoodooVox,01-01-02,...,c:1043,1,0,1,0,0,1,4.0000,1,acquired
9,846,CA,37.427235,-122.145783,94306,c:498,Palo Alto,786,Doostang,06-01-05,...,c:498,1,1,1,0,0,0,1.0000,1,acquired
10,685,CA,37.442988,-122.162413,94025,c:3949,Menlo Park,786,Zong,11/15/2000,...,c:3949,0,0,1,1,0,0,1.0000,1,acquired
11,835,CA,37.452992,-122.185098,94025,c:4829,Menlo Park,786,Center'd,01-01-06,...,c:4829,1,1,1,0,0,0,1.7500,1,closed
12,531,KY,38.241467,-85.724511,40204,c:30290,Louisville,786,Resonant Vibes,01-01-04,...,c:30290,1,0,0,0,0,0,1.0000,0,closed
13,137,NY,40.702760,-73.986668,11201,c:1491,Brooklyn,786,drop.io,11/26/2007,...,c:1491,0,0,1,1,1,0,2.3333,1,acquired
14,162,CO,39.746273,-104.991157,80202,c:15645,Denver,786,Stratavia,01-01-01,...,c:15645,0,0,1,1,0,0,2.5000,1,acquired
15,898,VA,38.901301,-77.265158,22182,c:54177,Vienna,Vienna VA 22182,Invicta Networks,01-01-99,...,c:54177,1,0,0,0,0,0,1.0000,0,closed
16,235,CA,37.396283,-122.105531,94022,c:16770,Los Altos,786,QSecure,01-01-03,...,c:16770,1,0,1,1,1,1,3.5000,1,closed
17,25,CA,37.590339,-122.341715,94010,c:107,Burlingame,786,MeeVee,07-01-00,...,c:107,0,0,1,1,1,1,3.5000,1,acquired
18,858,NY,40.730646,-73.986614,10004,c:50727,New York,New York NY 10004,SinglePlatform,01-01-10,...,c:50727,0,1,1,0,0,0,5.0000,1,acquired
19,454,CA,37.446411,-122.160540,94301,c:26368,Palo Alto,786,Bling Nation,01-01-07,...,c:26368,0,0,1,1,0,0,1.0000,1,closed
20,369,TX,30.235040,-97.800130,78735,c:22291,Austin,786,Metreos Corporation,01-01-01,...,c:22291,0,1,1,0,0,0,1.5000,0,acquired
21,289,WA,47.602605,-122.284865,98122,c:17857,Seattle,786,Hidden City Games,01-01-04,...,c:17857,0,0,0,1,0,0,2.0000,1,closed
22,177,CA,37.426316,-122.141082,94306,c:15888,Palo Alto,786,Neopolitan Networks,01-01-02,...,c:15888,0,0,1,0,0,0,2.0000,0,closed
23,26,CA,37.764395,-122.401024,94103,c:10751,San Francisco,786,Pixelpipe,01-01-08,...,c:10751,0,1,1,0,0,0,2.0000,0,closed
24,803,CO,40.010492,-105.276843,80302,c:458,Boulder,786,EventVue,05-01-07,...,c:458,0,1,1,0,0,0,4.5000,1,closed
25,797,IL,41.875555,-87.624421,60601,c:45525,Chicago,Chicago IL 60601,BridgePort Networks,01-01-02,...,c:45525,0,0,0,0,1,0,4.0000,1,acquired
26,572,CA,37.429676,-122.108548,94303,c:3193,Palo Alto,786,Scalent Systems,01-01-03,...,c:3193,0,0,0,0,1,0,4.0000,1,acquired
27,503,CA,37.870102,-122.268136,94704,c:28456,Berkeley,Berkeley CA 94704,IQ Engines,06-01-08,...,c:28456,0,0,0,1,0,0,2.0000,1,acquired
28,642,TX,30.265344,-97.743586,78701,c:36920,Austin,786,"RetailMeNot, Inc.",05-01-07,...,c:36920,1,0,1,0,1,0,1.7500,1,acquired
29,625,CA,33.708708,-117.852069,92705,c:35712,Santa Ana,Santa Ana CA 92705,Mophie,5/24/2005,...,c:35712,1,0,0,0,0,0,2.0000,1,acquired
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,1028,NY,40.744060,-74.004592,10012,c:714,New York,786,Behance,02-01-06,...,c:714,0,0,1,0,0,0,8.0000,1,acquired
894,1125,MA,42.375100,-71.105616,2142,c:90087,Cambridge,Cambridge MA 2142,Locu,01-01-11,...,c:90087,0,1,1,0,0,0,9.0000,1,acquired
895,1137,MA,42.391389,-71.270987,2451,c:9373,Waltham,786,dynaTrace software,01-01-05,...,c:9373,1,0,1,1,0,0,1.6667,1,acquired
896,209,NY,40.730646,-73.986614,10010,c:16343,New York,New York NY 10010,Socialbomb,06-05-08,...,c:16343,0,1,0,0,0,0,2.0000,1,acquired
897,99,CA,32.938892,-117.239859,92130,c:13734,San Diego,786,Imagine Communications,01-01-05,...,c:13734,1,0,1,1,0,0,2.2500,1,acquired
898,706,IL,41.808458,-88.073008,60188,c:4060,Lisle,786,Univa UD,05-10-04,...,c:4060,1,0,1,1,1,0,5.3333,1,acquired
899,936,NY,40.790816,-73.972294,10013,c:58420,New York,786,Tutorspree,09-01-10,...,c:58420,1,1,0,0,0,0,5.0000,1,closed
900,1089,CO,40.016210,-105.281310,80302,c:815,Boulder,786,OneRiot,01-01-06,...,c:815,0,0,1,1,1,0,3.0000,1,acquired
901,726,CA,37.440682,-122.123103,94303,c:42112,Palo Alto,Palo Alto CA 94303,Moonshoot,01-01-07,...,c:42112,1,0,0,0,0,0,1.5000,1,closed
902,191,CA,37.316790,-122.050790,95014,c:16178,Cupertino,786,ArcSight,01-01-00,...,c:16178,0,0,1,1,1,0,6.0000,1,acquired
903,469,CA,37.354469,-121.990433,95051,c:27021,Santa Clara,Santa Clara CA 95051,AGEIA Technologies,01-01-02,...,c:27021,0,0,0,0,1,0,7.0000,1,acquired
904,742,TX,29.758938,-95.367697,77046,c:43133,Houston,Houston TX 77046,U.S. Fiduciary,01-01-03,...,c:43133,0,0,0,0,0,1,2.0000,1,closed
905,442,CA,37.336191,-121.890583,95110,c:25756,San Jose,San Jose CA 95110,Broadway Networks,01-01-06,...,c:25756,1,0,0,0,0,0,1.0000,0,closed
906,290,CA,59.335232,18.057121,95054,c:17884,Santa Clara,786,Xelerated,01-01-00,...,c:17884,0,0,0,0,1,1,4.6667,1,acquired
907,347,CA,37.563585,-122.324621,94410,c:208,San Mateo,786,Oodle,01-01-04,...,c:208,1,0,1,1,1,0,2.0000,1,acquired
908,28,CA,37.782809,-122.394354,94103,c:1078,San Francisco,786,The Climate Corporation,01-01-06,...,c:1078,0,0,1,1,1,0,7.5000,1,acquired
909,181,CA,37.386773,-122.075222,94041,c:1600,Mountain View,786,Kosmix,01-01-05,...,c:1600,0,0,1,1,1,1,2.7500,1,acquired
910,53,NY,40.729839,-73.991781,10003,c:12071,New York,New York NY 10003,Xtify Inc.,04-01-09,...,c:12071,0,0,1,0,0,0,2.0000,0,acquired
911,414,CA,37.658713,-122.399382,94080,c:24681,South San Francisco,786,Limerick BioPharma,01-01-04,...,c:24681,1,0,1,0,1,0,3.0000,1,closed
912,1141,CA,37.780134,-122.396744,94107,c:96,San Francisco,786,iSkoot,4/22/2005,...,c:96,0,0,1,1,1,0,4.0000,1,acquired
913,157,TX,29.739322,-95.444747,77027,c:15509,Houston,786,Rudder,10-01-06,...,c:15509,0,0,1,0,0,0,1.0000,0,closed
914,879,NY,40.750519,-73.993494,10001,c:52378,New York,New York NY 10001,Panvidea,01-01-07,...,c:52378,0,0,1,0,0,0,2.0000,1,acquired
915,228,WI,43.090756,-89.522805,53562,c:167,Middleton,786,Sway,12-03-04,...,c:167,0,0,1,0,0,0,2.0000,0,closed
916,284,NY,40.742953,-73.984461,10018,c:17758,New York,786,TRAFFIQ,09-06-06,...,c:17758,1,0,1,1,0,0,2.3333,1,acquired
917,1099,WA,47.802184,-122.196307,98021,c:8339,Bothell,786,Dexterra,01-01-00,...,c:8339,1,0,0,0,1,1,5.6000,1,acquired
918,352,CA,37.740594,-122.376471,94107,c:21343,San Francisco,786,CoTweet,01-01-09,...,c:21343,0,0,1,0,0,0,6.0000,1,acquired
919,721,MA,42.504817,-71.195611,1803,c:41747,Burlington,Burlington MA 1803,Reef Point Systems,01-01-98,...,c:41747,1,0,0,1,0,0,2.6667,1,closed
920,557,CA,37.408261,-122.015920,94089,c:31549,Sunnyvale,786,Paracor Medical,01-01-99,...,c:31549,0,0,0,0,0,1,8.0000,1,closed
921,589,CA,37.556732,-122.288378,94404,c:33198,San Francisco,786,Causata,01-01-09,...,c:33198,0,0,1,1,0,0,1.0000,1,acquired
922,462,CA,37.386778,-121.966277,95054,c:26702,Santa Clara,Santa Clara CA 95054,Asempra Technologies,01-01-03,...,c:26702,0,0,0,1,0,0,3.0000,1,acquired

In [3]:
data.columns

Index(['Unnamed: 0', 'state_code', 'latitude', 'longitude', 'zip_code', 'id',
       'city', 'Unnamed: 6', 'name', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'state_code.1', 'is_CA', 'is_NY',
       'is_MA', 'is_TX', 'is_otherstate', 'category_code', 'is_software',
       'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'object_id', 'has_VC', 'has_angel', 'has_roundA',
       'has_roundB', 'has_roundC', 'has_roundD', 'avg_participants',
       'is_top500', 'status'],
      dtype='object')

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data['state_code'] = encoder.fit_transform(data['state_code'])
data['status'] = encoder.fit_transform(data['status'])
data['city'] = encoder.fit_transform(data['city'])
data['name'] = encoder.fit_transform(data['name'])
data['is_mobile'] = encoder.fit_transform(data['is_mobile'])
data.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,founded_at,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,2,42.358880,-71.056820,92101,c:6669,173,NaN,75,01-01-07,...,c:6669,0,1,0,0,0,0,1.0000,0,0
1,204,2,37.238916,-121.973718,95032,c:16283,108,NaN,781,01-01-00,...,c:16283,1,0,0,1,1,1,4.7500,1,0
2,1001,2,32.901049,-117.192656,92121,c:65620,173,San Diego CA 92121,585,3/18/2009,...,c:65620,0,0,1,0,0,0,4.0000,1,0
3,738,2,37.320309,-122.050040,95014,c:42668,55,Cupertino CA 95014,712,01-01-02,...,c:42668,0,0,0,1,1,1,3.3333,1,0
4,1002,2,37.779281,-122.419236,94105,c:65806,174,San Francisco CA 94105,351,08-01-10,...,c:65806,1,1,0,0,0,0,1.0000,1,1

In [5]:
data.fillna(786)
data.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,founded_at,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,2,42.358880,-71.056820,92101,c:6669,173,NaN,75,01-01-07,...,c:6669,0,1,0,0,0,0,1.0000,0,0
1,204,2,37.238916,-121.973718,95032,c:16283,108,NaN,781,01-01-00,...,c:16283,1,0,0,1,1,1,4.7500,1,0
2,1001,2,32.901049,-117.192656,92121,c:65620,173,San Diego CA 92121,585,3/18/2009,...,c:65620,0,0,1,0,0,0,4.0000,1,0
3,738,2,37.320309,-122.050040,95014,c:42668,55,Cupertino CA 95014,712,01-01-02,...,c:42668,0,0,0,1,1,1,3.3333,1,0
4,1002,2,37.779281,-122.419236,94105,c:65806,174,San Francisco CA 94105,351,08-01-10,...,c:65806,1,1,0,0,0,0,1.0000,1,1

In [6]:
"""
'Unnamed: 0', 'state_code', 'latitude', 'longitude', 'zip_code', 'id',
       'city', 'Unnamed: 6', 'name', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'state_code.1', 'is_CA', 'is_NY',
       'is_MA', 'is_TX', 'is_otherstate', 'category_code', 'is_software',
       'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'object_id', 'has_VC', 'has_angel', 'has_roundA',
       'has_roundB', 'has_roundC', 'has_roundD', 'avg_participants',
       'is_top500', 'status'
"""

data['category_code'] = encoder.fit_transform(data['category_code'])

In [8]:
"""
'Unnamed: 0', 'state_code', 'latitude', 'longitude', 'zip_code', 'id',
       'city', 'Unnamed: 6', 'name', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'state_code.1', 'is_CA', 'is_NY',
       'is_MA', 'is_TX', 'is_otherstate', 'category_code', 'is_software',
       'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'object_id', 'has_VC', 'has_angel', 'has_roundA',
       'has_roundB', 'has_roundC', 'has_roundD', 'avg_participants',
       'is_top500', 'status'
"""
X = data.drop(['Unnamed: 0','Unnamed: 6', 'status', 'object_id', 'id', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'state_code.1', 'zip_code'], axis=1)
#drop([' shares'], axis=1)
Y = data['status']

xData = X.values
yData = Y.values

In [9]:
from sklearn.model_selection import train_test_split 

xTrain, xTest, yTrain, yTest = train_test_split( 
        xData, yData, test_size = 0.1, random_state = 365)

In [10]:
data[data.eq('CA 94105').any(1)]

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,founded_at,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
418,151,2,37.785655,-122.398393,CA 94105,c:15294,174,NaN,664,8/18/2004,...,c:15294,1,0,0,0,1,1,3.8,1,0

In [13]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(xTrain, yTrain)
y_pred=model.predict(xTest)
print(accuracy_score(yTest, y_pred)*100)

80.64516129032258

In [15]:
test = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/startupdata/testing_set_label.csv')

test['state_code'] = encoder.fit_transform(test['state_code'])
test['city'] = encoder.fit_transform(test['city'])
test['name'] = encoder.fit_transform(test['name'])
test['is_mobile'] = encoder.fit_transform(test['is_mobile'])
test['category_code'] = encoder.fit_transform(test['category_code'])

cols_when_model_builds = model.get_booster().feature_names
cols_when_model_builds

['f0',
 'f1',
 'f2',
 'f3',
 'f4',
 'f5',
 'f6',
 'f7',
 'f8',
 'f9',
 'f10',
 'f11',
 'f12',
 'f13',
 'f14',
 'f15',
 'f16',
 'f17',
 'f18',
 'f19',
 'f20',
 'f21',
 'f22',
 'f23',
 'f24',
 'f25',
 'f26',
 'f27',
 'f28',
 'f29',
 'f30',
 'f31',
 'f32',
 'f33',
 'f34',
 'f35',
 'f36']

In [23]:
X = test.drop(['Unnamed: 0','Unnamed: 6', 'object_id', 'id', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'state_code.1', 'zip_code'], axis=1)
vals = model.predict(X.values)
Vals = []
for i in vals:
    if i == 0: Vals.append('acquired')
    else: Vals.append('closed')

In [25]:
res = pd.DataFrame(Vals)
res.columns = ["prediction"]
res.to_csv("StartUpPred.csv", index = False)